@model IEnumerable<Domain.Entities.Student>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var student in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => student.FirstName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-firstname="@student.FirstName" asp-route-id="@student.Id" >Edit</a> |
                <a asp-action="Details" asp-route-id="@student.Id">Details</a> |
                <a asp-action="Delete" asp-route-firstname="@student.FirstName" asp-route-id="@student.Id"> Delete</a>
                  
            </td>
        </tr>
}
    </tbody>
</table>
